@import 'bootstrap/dist/css/bootstrap.css';
p{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: var(--font-poppins);
}
.container{
  min-width: 1300px !important;
}

/* Nav Bar */
#sticky-menu{
  background: #D7F5DC;
}
.top-menu{
  width: 100%;
  height: 80px;
  z-index: 999;

}
.menu-lago span:nth-child(1){
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}
.menu-lago span:nth-child(2){
  color: #F55F1D;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top-menu ul li{
  padding: 0px 15px 0px 15px;
}
.top-menu ul li:last-child{
  padding-right: 0px;
}
.top-menu ul li .nav-link{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
  padding: 10px;
}
.top-menu ul li .menu-btn-1{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 105px;
  border-radius: 10px;
  border: 1px solid #20B15A;
  padding: 10px;
}

.top-menu ul li .menu-btn-2{
  color: #ffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 105px;
  border-radius: 10px;
  background: #20B15A; 
  padding: 10px;
}

/* hero */
.hero-bg{
  background: linear-gradient(180deg, #D7F5DC 0%, #D7F5DC 100%);
  height: 837px; 

}
.hero-tittle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.hero-tittle h1{
  color: black;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 65px;
  word-wrap: break-word;
  width: 550px;
}
.hero-tittle p{
  color: #000;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 472px;
}
.hero-tittle button{
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #20B15A;
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 50px;
}
.hero-tittle button:hover{
  color: #ffff;
  background-color: #20B15A;
}
.hero-img{ 
  margin-left: 15px;
}

.hero-img img:nth-child(1){
  margin: 0px 20px 20px 0px;
}
.hero-img img:nth-child(2){
  margin-top: -22px;
}
.hero-img img:nth-child(3){
  margin-right: 20px;
}

.our-partners{
  display: flex;
  align-items: center;
 height: 100px;
 background: #FFF;
 margin-top: -130px;
}
/* Work List*/
.worklist{
  margin-top: 30px;
  background: #FFF;
  padding: 67px 0px 64px 0px; 
}
.worklist h6{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.worklist h4{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 495px;
  margin-bottom: 40px;
}
.work-box{
  width: 380px;
  height: 415px;
  padding: 50px 30px; 
}
.work-box:hover{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 9px 20px 10px rgba(0, 0, 0, 0.07);
  transition: 0.5s;
}
.work-box .icon img{
  border-radius: 20px;
  background: #D7F5DC;
  padding: 30px;
  margin-bottom: 15px;
}
.work-box .tittle h5{
  color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.work-box .tittle p{
  color: #000;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 43px;
}
.work-box .tittle button{
  border-radius: 10px;
  display: flex;
  padding: 15px 20px;
}

.work-box:hover .tittle button{
  background: #F55F1D; 
  transition: 0.5s;
  color: #FFF;
}
/* SiteList*/
.StatList{
  display: flex;
  height: 421px;
  padding: 66px 0px 65px 0px;
  justify-content: center;
  align-items: center; 
}
.StatList .stat-box{
  position: relative;
  text-align: center;
  z-index: -1;
  width: 288px;
  height: 290px; 
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 9px 20px 10px rgba(0, 0, 0, 0.07); 
  margin: auto;
}
.StatList .stat-box .stat-contane{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.StatList .stat-box .stat-contane img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #D7F5DC;
  margin-bottom: 22px;
}
.StatList .stat-box .stat-contane h3{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.StatList .stat-box .stat-contane p{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*Featured Project*/
.Featured-Project{
  height: 972px; 
  background: #F0FDF4;
  padding:62px 0px 82px 0px;
}
.Featured-Project .Featured-tittle{
  margin-bottom: 72px;
}
.Featured-Project .Featured-tittle h3{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
} 
.Featured-Project .Featured-tittle p{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 495px;
  margin-bottom: 24px;
}
.Featured-Project .Featured-left img{
  width: 603px;
  height: 531px;
  border-radius: 20px; 
}
.Featured-Project .Featured-left p{
  color: #2E3E5C;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */ 
  margin-top: 15px;
  opacity: 0.8;
}
.Featured-Project .Featured-left h5{
  color:#1E1F4B;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */ 
  margin-top: 10px;
}
.Featured-Project .Featured-right img{
  width: 287px;
  height: 188px;
  border-radius: 20px;

}
.Featured-Project .Featured-right p{
  color: #2E3E5C;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  opacity: 0.8;
  margin-top: 12px;
}
.Featured-Project .Featured-right h5{
  color:#2E3E5C;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: capitalize;
  width: 263px;
}
.Featured-Project .Featured-bottom img{
  width: 287px;
  height: 188px;
  border-radius: 20px;
  margin-top: 30px;

}
.Featured-Project .Featured-bottom p{
  color: #2E3E5C;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  opacity: 0.8;
  margin-top: 12px;
}
.Featured-Project .Featured-bottom h5{
  color:#2E3E5C;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  text-transform: capitalize;
  width: 263px;
}
/*Subscribe */
.Subscribe {
  background: #FFF;
  padding: 91px 0px 137px 0px;
}
.Subscribe .Subscribe-box{
  position: relative;
  width: 596px;
  height: 271px;
  text-align: center;
}
.Subscribe .Subscribe-box h5{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.Subscribe .Subscribe-box h3{
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  width: 495px;
  margin:auto;
}
.Subscribe .Subscribe-box p{
  color: #8B8B8B;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.Subscribe .Subscribe-box .Subscribe-contact input{
  position: relative;
  padding: 20px 16px; 
  border-radius: 14px;
  border: 1px solid #000;
  color: #8B8B8B;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}

.Subscribe-box button{
  height: 52.703px;
  padding: 8.108px 24.325px;
  position: absolute;
  right: 5.351px;
  bottom: 42.297px;
  border-radius: 14px;
  background: #F55F1D;
  color: #FFF;
  font-family: Poppins;
  font-size: 16.216px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Subscribe-box button:hover{
  background: #F55F1D;
  color: #FFF;
}
/*Footer*/
.Footer{
  background: #000;
  height: 441px;
  padding-top: 95px;
}
.Footer .Footer-left h3{
  color: #FFF;
  font-family: Poppins;
  font-size: 39.2px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom:20px;
}
.Footer .Footer-left p{
  width: 328px;
  color: #FFF;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Footer .Footer-left .social-link img {
  width:40px;
  height:40px;
  margin-right:15px;
  margin-top:20px;
}
.Footer .Footer-menu ul{
  list-style: none;
  padding-left: 0px;
}
.Footer .Footer-menu ul li{
  padding-bottom: 25px;
}
.Footer .Footer-menu ul li a{
  text-decoration: none;
  color: #FFF;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Footer .Footer-menu h4{
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 25px;
}
.Footer .Footer-right h4{
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 26px;
}
.Footer .Footer-right p{
  color: #FFF;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Footer .Footer-bottom p{
  color: #FFF;
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/*breadcrumb*/
.breadcrumb-bg{
  height: 370px;
  background: var(--gray-100, #F8F9FC);

}
.breadcrumb-bg .breadcrumb-bg-2{
  width: 521px;
  height: 370px;
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.breadcrumb-bg .breadcrumb-bg-2::before{
  content: "";
  width: 829px;
  height: 829px;
  border-radius: 829px;
  background: radial-gradient(50% 50% at 50% 50%, #D7F5DC 0%, rgba(255, 255, 255, 0.00) 100%);  
  position: absolute;
  top:-120%;
  right: -50%;
}


.breadcrumb-bg .breadcrumb-top ol li{
  color:#101A29;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 51px; /* 127.5% */
  padding-top: 194px;
} 
.breadcrumb-bg .breadcrumb-bottom ol li{
  color: var(--gray-900, #101A29);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 156.25% */
}
.breadcrumb-item + .breadcrumb-item::before{
  content: var(--bs-breadcrumb-divider, "");
}
.breadcrumb-bg .breadcrumb-bottom ol li a{
  color: var(--gray-900, #101A29);
  text-decoration: none;
  padding-left: 5px;
}
.breadcrumb-bg .breadcrumb-bottom ol .breadcrumb-item.active a{
  color: #20B15A;
}
/*---team---*/
.team-bg{
  background: #FFF;
  padding: 67px 0px 84px 0px;
}
.team-bg .team-text{
  width: 495px;
}
.team-bg .team-text h5{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.team-bg .team-text h3{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.team-bg .team-box{
  width: 392px;
  height: 490px; 
  border-radius: 20px;
  border: 1px solid #E3E3E3;
  background:#FFF;
  margin-top: 66px;

/* shadow/M */
  box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}
.team-bg .team-box img{
  width: 392px;
  height: 387px;
  border-radius: 20px 20px 0px 0px; 
}
.team-bg .team-box h4{
  color: var(--gray-900, #101A29);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 86.667% */
  margin-top: 30px;
}
/* AllService*/
.AllProject-bg{
  height: 1785px;
  background: #ffff;
  padding: 67px 0px 0px 0px;
}
.AllProject-bg .AllProject-text h5{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.AllProject-bg .AllProject-text h3{
  width: 495px;
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}
.AllProject-bg .AllProject-box{
  width: 604px;
  height: 694px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
  padding: 40px 30px 46px 30px;
}

.AllProject-bg .AllProject-box h3{
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.AllProject-bg .AllProject-box p{
  color: #9D9D9D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 54px;
}
.AllProject-bg .AllProject-box .img-1{
  margin: 0px 30px 20px 0px;
}
.AllProject-bg .AllProject-box .img-2{
    margin-top: -18px;
}
  
.AllProject-bg .AllProject-box .img-3{
  margin-right: 30px;
  
}
/* AllProject */
.Project-bg{
  background: #FFF;
  padding-top: 67PX;

}
.Project-bg .Project-text h5{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.Project-bg .Project-text h3{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 495px;
  margin-bottom: 50px;
}
.Project-bg .Project-box{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
  width: 604px;
  padding: 40px 30px 30px 30px; 
}

.Project-bg .Project-box img{
  width: 544px;
  height: 472px; 
  border-radius: 20px; 
}
.Project-bg .Project-box h3{
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 30px;
}
/**Testimonial**/
.Testimonial-bg{
  background: #FFF;
  height: 1248px;
  padding-top: 67px;
}
.Testimonial-bg .Testimonial-text h5{
  color: #20B15A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.Testimonial-bg .Testimonial-text h3{
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 495px;
  margin-bottom: 50px;
}
.Testimonial-bg .Testimonial-box{
  width: 392px;
  height: 440px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 0px 23px 0px 23px;
}
.Testimonial-bg .Testimonial-box img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 48px 0px 40px 0px;
}
.Testimonial-bg .Testimonial-box p{
  color: #9D9D9D;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
  margin-bottom: 26px;
}
.Testimonial-bg .Testimonial-box h3{
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.Testimonial-bg .Testimonial-box h5{
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}